<h1 class="cover-heading">Hello world.</h1>
<p class="lead">Make some shortlinks!</p>

<form role="form" method="post" action="/api/target_urls">
  <input type="hidden" name="authenticity_token" value=" <%= form_authenticity_token %>">
  <div class="form-group">
    <input type="text" class="form-control input-lg" id="linkbox" name="target_url[url]" placeholder="Enter a link to shorten">
  </div>
  <button type="submit" class="btn btn-default btn-lg">Shorten!</button>
</form>