<!-- <h1 class="cover-heading">Hello world.</h1>
<p class="lead">Make some shortlinks!</p>

<form role="form" method="post" action="/api/target_urls">
  <input type="hidden" name="authenticity_token" value=" <%= form_authenticity_token %>">
  <div class="input-group">
    <input type="text" class="form-control input-lg" id="linkbox" name="target_url[url]" placeholder="Enter a link to shorten">
     <span class="input-group-btn">
        <button class="btn btn-default btn-lg input-lg make-link" type="submit">Shorten!</button>
      </span>
  </div>
</form> -->