<h1 class="cover-heading">Make it short and sweet</h1>

<form role="form">
  <div class="input-group">
    <input type="text" class="form-control input-lg" id="linkbox" name="shortlink[url]" placeholder="Enter a link to shorten" autofocus>
     <span class="input-group-btn">
        <button class="btn btn-default btn-lg input-lg make-link" type="submit">Shorten!</button>
      </span>
  </div>
</form>

<div class="bg-danger errors lead"></div>