<div class="lead short-link">

  <form class="form-inline" role="form">
    <div class="form-group">
      <input type="email" class="form-control input-lg" id="show-shortcode" onclick="this.focus();this.select()" value='http://www.jlh.io/<%=code.escape("code") %>'>
      <button class="btn btn-default input-lg another">Make another</button>
    </div>
  </form>

</div>