 <div class="masthead clearfix">
    <div class="inner">
      <h3 class="masthead-brand">jlh.io</h3>
      <ul class="nav masthead-nav">
        <li class="active"><a href="#">Sign Up</a></li>
        <li class="active"><a href="#">Sign In</a></li>
      </ul>
    </div>
  </div>